{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Upload po{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="file">File:</label>
    <input type="file" name="file" id="file"  required>
    <input type="submit" value="submit">
  </form>
{% if data is not none %}
<table>
  <caption>Po Details</caption>
  <thead>
    <tr>
      <th>PO_NUMBER</th>
      <th>PRODUCT_NAME</th>
      <th>TARGET</th>
    </tr>
  </thead>
  <tbody>
  {% for product_name, po_number, target in data %}
    <tr>
      <td>{{po_number}}</td>
      <td>{{product_name}}</td>
      <td>{{target}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
