{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Upload po{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="file">File:</label>
    <input type="file" name="file" id="file"  required>
    <input type="submit" value="submit">
  </form>
  <div class="table-responsive mt-4">
    <table class="table table-bordered border-dark table-striped table-hover align-middle text-center">
      <caption class="caption-top">Po Details</caption>
      <thead>
        <tr>
          <th scope="col">PO_NUMBER</th>
          <th scope="col">PRODUCT_NAME</th>
          <th scope="col">TARGET</th>
        </tr>
      </thead>
      <tbody>
      {% for product_name, po_number, target in data %}
        <tr>
          <td>{{po_number}}</td>
          <td>{{product_name}}</td>
          <td>{{target}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
