{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="file">po_file</label>
    <input type="file" name="file" id="file"  required>
    <input type="submit" value="submit">
  </form>
<table>
  <caption>Po Details</caption>
  <thead>
    <tr>
      <th>PO_NUMBER</th>
      <th>PRODUCT_NAME</th>
      <th>TARGET</th>
    </tr>
  </thead>
  <tbody>
  {% for po_number, product_name, target in data %}
    <tr>
      <td>{{po_number}}</td>
      <td>{{product_name}}</td>
      <td>{{target}}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}